@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins&display=swap');

.font-poppins {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
.font-anton {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
       